.footer__column-link {
  color: white;
  text-decoration: none;
  white-space: nowrap;
  line-height: 30px;
  font-weight: normal;
  font-size: 18px;
  transition: opacity 2s;
}

.footer__column-link:hover {
  opacity: 0.6;
}
