.techniques {
  width: 80%;
  margin: 100px auto 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: 920px;
  padding: 0;
  margin: 0 auto 0 auto;
}

.cards__item {
  margin: 60px 0 0 0;
  width: 240px;
}

.cards__item:last-child {
  margin-left: 100px;
}

.cards::after {
  content: "";
  flex: auto;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0 40px 43px 40px;
}

.cards__title {
  margin: 0 0 16px 0;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.cards__description {
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  margin-top: 100px;
  z-index: 4;
  position: relative;
}

.video__iframes {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px 10px;
  z-index: 5;

}

.video__iframes:nth-child(1) {
  bottom: -50px;
  position: relative;
}

.oakley {
  margin: 0 auto 0 auto;
  justify-content: center;
  display: flex;
  background-color: #f2f2f2;
  padding-top: 160px;
  z-index: 3;
}

.khan {
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: 105px auto 0 auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  margin: 0;
  font-weight: bold;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin-top: 50px;
  margin-bottom: 36px;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 68px 0;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 608px;
  height: 620px;
  object-fit: cover;
  object-position: top;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  margin-left: 48px;
  text-decoration: none;
}

.khan__buy-link:link:hover {
  opacity: 0.7;
  transition: opacity 1s;
}

.resources {
  margin: 100px 0 0 0;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 217px auto;
}

.resources__logo {
  width: 270px;
  height: 38px;
}
